faster-whisper
openwakeword
piper-tts
sounddevice
pyaudio
numpy
langchain
langchain-ollama
langgraph
pyautogui
keyboard
mouse
pywin32
psutil
pywhatkit
pygetwindow
pyperclip
pycaw
comtypes
screen-brightness-control
requests
python-dotenv
SpeechRecognition
